{% extends 'Pckg/Generic/View/frontend.twig' %}

{% block content %}
    <h1>Condo</h1>
    <p>Releasing git packages from bitbucket and github made simple. ;-)</p>
    <p>Stay tuned for more!</p>
{% endblock %}